

<link rel="stylesheet" href="~/css/about-us-style.css">



<section class="abtlanding">
    <h2>ABOUT US</h2> <br>
    <br>
    <h3>BUILDING A COMMUNITY THAT IS PASSIONATE ABOUT EDUCATION</h3>
</section>

<div class="about-container">
    <div class="about-image">
        <img src="~/imgs/pexels-karolina-grabowska-4491461.jpg" />
    </div>
    <div class="about-text">
        <h2>TEACH ME</h2>
        <br>
        <text>
            We believe that education is the most powerful weapon one can use to change the world. Teach Me offers you a wide range of courses that you can choose from , as well as excellent and skilled instructors to help you throughout your jorney. Teach Me is a community where you will find everyone willing to help you and make you satisified.
        </text> <br>
        <a href="/Account/Login" class="btn">REGISTER NOW</a>
    </div>
</div>

<div class="Testimon-section">
    <h2>TESTIMONIALS</h2> <br>
    <h3>What Our Clients and Instructors Say</h3>
    <div class="testimon-grid">
        <div class="client1-box">
            <div class="client-image1">
                <img src="~/imgs/instr7.jpg" />
            </div>
            <div class="Testimons-Box">
                <div class="Client-Name1">
                    <p>Maria Smith</p>
                    <h5>Instructor</h5>
                    <article>"I really love this website.The wide variety of courses here along with very reasonble prices makes this place one of a kind..."</article>
                </div>
            </div>
        </div>
        <div class="client2-box">
            <div class="client-image2">
                <img src="~/imgs/Portrait_5-1.jpg" />
            </div>
            <div class="Client-Name2">
                <p>Will Adams</p>
                <h5>Student</h5>
                <article>"This place is more than perfect and it always encourages me to learn new skills everyday.The instructors are very talented and the lessons are so much fun. Join us and you won't regret it!"</article>
            </div>
        </div>
    </div>
</div>

<!--Contact Us Btn-->

<a href="/Home/Contact">
    <button id="contact-us">
        <i class="fa-solid fa-comments"></i>
    </button>
</a>

